{:paths ["src"]
 :tasks {bump-version {:doc  "Bumps CLI version"
                       :task donut.cli.develop.bump-version/-main}

         publish {:doc "Bumps version, pushes tag, kicking off release"
                  :task donut.cli.develop.publish/-main}}}
