{:paths ["src" "resources"]
 :tasks {g        {:doc  "alias for generate"
                   :task donut.cli.generate/-main}
         generate {:doc  "generate code"
                   :task donut.cli.generate/-main}
         new      {:doc  "create a new Donut single-page app"
                   :task donut.cli.new/-main}
         version  {:doc              "print the CLI version"
                   :task             donut.cli.version/-main
                   :override-builtin true}}
 :deps  {io.github.paintparty/bling      {:mvn/version "0.10.0"}
         io.github.seancorfield/deps-new {:git/tag "v0.4.13" :git/sha "879c4eb"}
         party.donut/generate            {:mvn/version "1.0.57"}
         party.donut/generators          {:mvn/version "0.0.27"}
         party.donut/single-page-app     {:git/url "https://github.com/donut-party/single-page-app-template"
                                          :git/sha "f1ed93255a59a5aabadaad21b594b72ed2e02f8a"}}}
