{:paths ["src" "resources"]
 :tasks {generate {:doc  "generate code"
                   :task donut.cli.generate/-main}
         migrate  {:doc  "manage migrations"
                   :task donut.cli.migrate/-main}
         new      {:doc  "create a new Donut single-page app"
                   :task donut.cli.new/-main}
         version  {:doc              "print the CLI version"
                   :task             donut.cli.version/-main
                   :override-builtin true}}
 :deps  {io.github.clj-kondo/clj-kondo-bb {:git/tag "v2023.01.20" :git/sha "adfc7df"}
         io.github.paintparty/bling       {:mvn/version "0.10.0"}
         io.github.seancorfield/deps-new  {:git/tag "v0.4.13" :git/sha "879c4eb"}
         party.donut/generate             {:mvn/version "1.0.77"}
         party.donut/generators           {:mvn/version "0.0.48"}
         party.donut/single-page-app      {:git/url "https://github.com/donut-party/single-page-app-template"
                                           :git/sha "1ec26fbabdb2d24b2e9ff7122af921450ba8fe2f"}}}
